

@font-face {
    font-family: 'Oriya Sangam MN';
    src: url('OriyaSangamMN.eot');
    src: url('OriyaSangamMN.eot?#iefix') format('embedded-opentype'),
        url('OriyaSangamMN.woff') format('woff'),
        url('OriyaSangamMN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html { 
  background: url(../images/ty.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
    font-family: 'Oriya Sangam MN', sans-serif;
    color: #fdf9fa;
    font-size: 12px;
    margin-left: 10px;
    
}