@font-face {
    font-family: 'ZagolovochnayaW01-Book';
    src: url('ZagolovochnayaW01-Book.eot');
    src: url('ZagolovochnayaW01-Book.eot?#iefix') format('embedded-opentype'),
        url('ZagolovochnayaW01-Book.woff') format('woff'),
        url('ZagolovochnayaW01-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ZagolovochnayaW01-Book',sans-serif;
    font-size: 14px;
}
#centerblock {
    width: 320px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px black solid;
}

#centerblock-II {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px black solid;
}

h1 {
    width: 100%;
    position: relative;
    margin-top: 11px;
    margin-left: 17px;
    font-size: 1.5em;
}

#col1 {
    width: auto;
    display: inline-block;
    margin-left: 17px;
}

#col2 {
    width: auto;
    display: inline-block;
}

#center-row {
    width: 100%;
    margin-top: 50px;
    margin-left: 17px;
}

#center-row-II {
    width: 100%;
    margin-top: 10px;
    margin-left: 17px;
    font-size: 11px;
}

.noborder {
    border: 0px black solid;
}

#bottom-row {
    width: 100%;
    margin-top: 50px;
    margin-left: 17px;
}
/*
.textinfo input {
    font-size: 12px;
}*/

.italics {
    font-style: italic;
}

input {
    border: 0.5px #D0D0D0 solid;
    height: 18px;
    margin-bottom: 8px;
}

.forms-studio {
    background: white;
    position:relative;
    padding-bottom:56.25%;
    overflow:hidden;
    width:100%;
    height:600px;
}

.forms-studio iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:0;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.btn {
    background-color: white;
    border: 1px black solid;
    margin-top: 2px;
    font-family: 'ZagolovochnayaW01-Book', sans-serif;
    height: 22px;
}







